@media all{ 
  body {
    background-color:#ffffff;
    }
  
h1{
    color:lightblue;
    text-align: center;
    font-family:helvetica, sans-serif
    font-size : 34px;
}
h2{
    color:blue;
    text-align: center;
    font-family:helvetica, sans-serif
}
h3{
    color:skyblue;
    
    font-family:helvetica, sans-serif
}
p{  
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
}
a{
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
        
}
codeblock{

    background-color: black;
    color: white;    
}
button{
    display: inline-block;
    padding:5px;
    color:black; 
    background-color: skyblue;
    }

note{
      color: red;
    }
button.quiz{
    display: inline-block;
    padding:10px;
    color:black; 
    background-color:navy;
    }
button.submit{ display: inline-block;
    padding:inherit;
    color:white; 
    background-color: navy;}

    div.hidden{
    display:none;
        
}
button.try{ display: inline-block;
    padding:inherit;
    color:white; 
    background-color: gold;}

    div.hidden{
    display:none;
        
}
.topnav {
  overflow:hidden;
  background-color:#031b4f;
}
.topnav h1{
    float: left;
    margin-left:12px;
}
.topnav a.menu {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a.tma {
  float:inherit;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:skyblue;
  color: navy;
}
    
.dropdownmenu{
  float:right;
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display:none;
  font-size:xx-small;
  position:fixed;
  background-color:skyblue;
  max-height: inherit;
  max-width: 90px;
  z-index: 1;
  
}
    
.border { border-width: 25px; border-color: red; border-style: solid; }


#container{
    margin : 20px auto;
    background-color: white;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:100px;
    height:150px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width : 200px;
    height : 200px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#results {
  color: black;
  padding: 40px;
  text-align: center;
}
    
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 
    
.topnav-centered a {
/*  float: none;*/
  position: relative;
  top: 0;
  left: 0;
  transform:none;
}


    





